@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@0;1&display=swap');


body{
  font-family: "Host Grotesk", sans-serif;

}


.team {
  background-color: #060824;
  padding: 3.375rem 0px;
}
.team__container {
  max-width: 100%;
  padding: 0 2rem;
}
@media (max-width: 640px){
  .team__container {
    max-width: 100%;
    padding: 0 1rem;
  }
}
.team__list {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
  row-gap: 3rem;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px){
    .team__list{
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px){
  .team__list{
    grid-template-columns: repeat(1, 1fr);
  }
}


.team__item {
  flex-direction: column;
  cursor: pointer;
}

.team__item:hover .team__item-image img{
  transform: scale(1);

}
.team__item-image {
  position: relative;
  min-height: 37.5rem;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 640px){
  .team__item-image{
    min-height: 400px;
  }
}





.team__item-image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 400ms;
  transform: scale(1.075);
}
.team__item-name {
  font-family: 'Cormorant';
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 1.5625rem;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 0.375rem;

}
.team__item-position {
  color: #fff;
}


#sidebar{
  background-color: #fff;
  padding: 6.25rem 4.5rem;
  overflow: auto;
}

@media (max-width: 992px){
    #sidebar{
      padding: 72px 16px;
    }
}




.close-sidebar{
  position: absolute;
  top: 32px;
  left: 32px;
  transition: all 0.3s;
}

@media (max-width:767px){
  .close-sidebar{
    top: 16px;
    left: 16px;
  }
}

.close-sidebar:hover{
  transform: rotate(180deg);
}

.sidebar__image{
  min-height: 700px;
  max-width: 100%;
  position: relative;
  margin-bottom: 12px;
}

@media (max-width: 640px){
  .sidebar__image{
    min-height: 400px;
  }
}

.sidebar__image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.sidebar__title{
  font-size: 1.75rem;
  font-family: 'Cormorant';

}

.sidebar__position{
  font-size: 20px;
  margin-bottom:32px;
}

.sidebar__text{
  line-height: 150%;
}


.main-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 2, 14, 0.8);
  z-index: 4;
  backdrop-filter: blur(6px);
  opacity: 0;
  pointer-events: none;
  transition: all ease 400ms;
  


}
.main-overlay.active{
  opacity: 1;
}
.locked{
  overflow: hidden;
}