@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@0;1&display=swap');

body {
  font-family: 'Host Grotesk', sans-serif;
}

:root {
  /* Transitions */
  --transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);

  /* image hover scale factor */
  --scaleSize:1.075;

  /* Overlay style */

  --overlayBG: rgba(3, 2, 14, 0.6);
  --overlayBlur:7px;
  --zIndex: 100;

  /* Sidebar styles */
  --sidebarBg: #e9e9e9;
  --sidebarPadding: 64px 24px;
  --sidebarPaddingMobile:72px 16px;
  --sidebarRadius: 30px 0px 0px 30px ;

  /* Close sidebar button */

  --left: 24px;
  --top: 16px;
  --leftMobile:16px;
  --topMobile:16px;
  --closeWidth: 32px;
  --closeHeight: 32px;
  --crossColor: #110303;
  --lineHeight: 2px;
  --hoverColor: #616483;
  --rotateAngle: 180deg;

  /* Sidebar image */
  --imageHeight: 500px;
  --imageHeightMobile: 400px;
  --ImageMarginBottom: 12px;
  --imageWidth: 100%;
  --imageRadius:4px;
  --imagePosition: top;

  /* Sidebar texts */
  --fontPrimary: 'Host Grotesk', sans-serif;
  --fontSecondary: 'Cormorant', serif;

  /* Name */
  --sizeTitle: 32px;
  --sizeMobileTitle: 24px;
  --titleMarginBottom: 4px;
  --lineHeightTitle: 120%;
  --colorTitle: #1d1b1b;

  /* Position */
  --sizePosition: 20px;
  --sizeMobilePosition: 16px;
  --positionMarginBottom: 24px;
  --lineHeightPosition: 120%;
  --colorPosition: #000000;

  /* Text */
  --sizeText: 16px;
  --sizeMobileText: 14px;
  --lineHeightText: 145%;
  --colorText: #0c0b0b;
}

.team {
  background-color: #060824;
  padding: 3.375rem 0px;
}
.team__container {
  max-width: 100%;
  padding: 0 2rem;
}
@media (max-width: 640px) {
  .team__container {
    max-width: 100%;
    padding: 0 1rem;
  }
}
.team__list {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
  row-gap: 3rem;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px) {
  .team__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .team__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.team__item {
  flex-direction: column;
  cursor: pointer;
}


.team__item-image {
  position: relative;
  min-height: 37.5rem;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 640px) {
  .team__item-image {
    min-height: 400px;
  }
}

.team__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.team__item:hover .team__item-image img {
  transform: scale(var(--scaleSize));
}
.team__item-name {
  font-family: 'Cormorant';
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 1.5625rem;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 0.375rem;
}
.team__item-position {
  color: #fff;
}

.sidebar {
  background-color: var(--sidebarBg);
  padding: var(--sidebarPadding);
  overflow: auto;
  transition: var(--transition) !important;
  border-radius: var(--sidebarRadius);
  
}

@media (max-width: 640px) {
  .sidebar {
    padding: var(--sidebarPaddingMobile);
  }
}

.close-sidebar {
  position: absolute;
  top: var(--top);
  left: var(--left);
  transition: var(--transition);
  width: var(--closeWidth);
  height: var(--closeHeight);
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 640px){
  .close-sidebar{
    top: var(--topMobile);
    left: var(--leftMobile);
  }
}

.close-sidebar:hover::before,
.close-sidebar:hover::after {
  background-color: var(--hoverColor);
}
.close-sidebar:before,
.close-sidebar:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--lineHeight);
  background-color: var(--crossColor);
}

.close-sidebar:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-sidebar:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}

.close-sidebar:hover {
  transform: rotate(var(--rotateAngle));
}

.sidebar__image {
  min-height: var(--imageHeight);
  max-width: var(--imageWidth);
  border-radius: var(--imageRadius);
  overflow: hidden;
  position: relative;
  margin-bottom: var(--ImageMarginBottom);
}

@media (max-width: 640px) {
  .sidebar__image {
    min-height: var(--imageHeightMobile);
  }
}

.sidebar__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--imagePosition);
}

.sidebar__title {
  font-size: var(--sizeTitle);
  font-family: var(--fontSecondary);
  line-height: var(--lineHeightTitle);
  margin-bottom: var(--titleMarginBottom);
  color: var(--colorTitle);
}
@media (max-width: 640px) {
  .sidebar__title {
    font-size: var(--sizeMobileTitle);
  }
}

.sidebar__position {
  font-size: var(--sizePosition);
  margin-bottom: var(--positionMarginBottom);
  line-height: var(--lineHeightPosition);
  color: var(--colorPosition);

}
@media (max-width: 640px) {
  .sidebar__position {
    font-size: var(--sizeMobilePosition);
  }
}

.sidebar__text {
  font-size: var(--sizeText);
  line-height: var(--lineHeightText);
  color: var(--colorText);
}
@media (max-width: 640px) {
  .sidebar__text {
    font-size: var(--sizeMobileText);
  }
}
.main-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlayBG);
  z-index: var(--zIndex);
  backdrop-filter: blur(var(--overlayBlur));
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}
.main-overlay.active {
  opacity: 1;
}
.locked {
  overflow: hidden;
}
